{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container p-4">
        <div class="grid lg:grid-cols-3 gap-6">
            <div class="lg:col-span-2 lg:order-last">
                <h1 class="text-2xl mb-4">Mes informations personnelles</h1>
                {{ form_start(form) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_end(form) }}
            </div>
            <div>
                {% include('components/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}