{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container py-8 px-10">
        <div class="flex flex-col lg:justify-center gap-8 lg:gap-16 lg:flex-row-reverse">
            <div>
                <h1 class="text-5xl mb-6 text-center">Mes informations personnelles</h1>
                {{ form_start(form) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_end(form) }}
            </div>
            <div>
                {% include('components/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}