{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>
    <h1>Calendrier</h1>
    <div id="calendar" data-events='[
            {% for homework in homeworks %}
{#                Si dernière ligne#}
                {% if loop.last %}
                    { "title": "{{ homework.name }}", "start": "{{ homework.dueDate|date('Y-m-d H:i:s')}}", "allDay": false, "HomeworkID":"{{ homework.id }}"}
                {% else %}
                    { "title": "{{ homework.name }}", "start": "{{ homework.dueDate|date('Y-m-d H:i:s') }}", "allDay": false, "HomeworkID":"{{ homework.id }}"},
                {% endif %}
            {% endfor %}
        ]'></div>
{#    Modale en plein écran et fixe#}
    <div id="CalendarModale" class="fixed top-0 left-0 z-50 overflow-scroll h-full w-full hidden">

    </div>
{% endblock %}