{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="m-4 lg:w-1/2 lg:m-auto">
        <h1 class="text-3xl">S'inscrire</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}


        <div class="my-4">
            {{ form_row(registrationForm.email,
                {
                    'attr': {
                    'id': 'inputEmail',
                    'placeholder': 'john.doe@etudiant.univ-reims.fr',
                    'autofocus': true
                },
                    'label': 'Adresse mail'
                }
            ) }}
        </div>

        <div class="my-4">
            {{ form_row(registrationForm.firstname,
                {
                'attr': {
                    'id': 'inputFistname',
                    'placeholder': 'John',
                    'autofocus': true
                },
                    'label': 'Prénom'
                }
            ) }}
        </div>

        <div class="my-4">
            {{ form_row(registrationForm.lastname,
                {

                'attr': {
                    'id': 'inputLastname',
                    'placeholder': 'Doe',
                    'autofocus': true
                },
                    'label': 'Nom'
                }

            ) }}
        </div>

        <div>
            {{ form_row(registrationForm.plainPassword, {
                'attr': {
                    'id': 'inputPassword',
                    'placeholder': 'Mot de Passe',
                    'autofocus': true
                },
                'label': 'Mot de passe'
                }
            ) }}
        </div>

        <div>
            <small>{{ form_help(registrationForm.plainPassword,
                    {
                        help: 'Votre mot de passe doit comporter un minimum de 6 caractères (lettres et chiffres).',
                        color: 'text-slate-500'
                    }
                    ) }}
            </small>
        </div>

        <div class="my-4">
            {{ form_row(registrationForm.course,
                {
                'attr': {
                    'id': 'inputCourse',
                    'placeholder': 'Cours',
                    'autofocus': true
                },
                    'label': 'Département'
                }
            ) }}
        </div>

        <div class="my-4">
            {{ form_row(registrationForm.group,
                {
                'attr': {
                    'id': 'inputGroup',
                    'placeholder': 'Groupe',
                    'autofocus': true
                },
                    'label': 'Groupe de TP'
                }
            ) }}
        </div>

        <div class="my-4">
            {{ form_row(registrationForm.year,
                {
                'attr': {
                    'id': 'inputYear',
                    'placeholder': 'Année',
                    'autofocus': true
                },
                    'label': 'Année'
                }
            ) }}
        </div>

        <div class="my-2">
            {{ form_row(registrationForm.agreeTerms, {
                'label': 'J\'accepte les conditions d\'utilisation'
            }) }}
        </div>

        <div class="my-4">
            {% include ('components/button.html.twig') with {text: "S'inscrire"} %}
            {#    <button type="submit" class="btn">Register</button>#}
        <div>

            {{ form_end(registrationForm) }}

    </div>
{% endblock %}