{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="m-4 lg:w-1/2 lg:m-auto">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}



            {{ form_row(registrationForm.email,
                {
                    'attr': {
                    'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                    'id': 'inputEmail',
                    'placeholder': 'john.doe@etudiant.univ-reims.fr',
                    'autofocus': true

                },
                    'label': 'Adresse mail',
                    'required': true
                }
            ) }}


            {{ form_row(registrationForm.firstname,
                {
                'attr': {
                    'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                    'id': 'inputFistname',
                    'placeholder': 'John',
                    'autofocus': true

                },
                'label': 'Prénom',
                'required': true
                }
            ) }}

        {{ form_row(registrationForm.lastname,
            {
            'attr': {
                'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                'id': 'inputLastname',
                'placeholder': 'Doe',
                'autofocus': true

            },
            'label': 'Nom',
            'required': true
            }

        ) }}


        {{ form_row(registrationForm.plainPassword, {
            'attr': {
                'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                'id': 'inputPassword',
                'placeholder': 'Mot de Passe',
                'autofocus': true
            },
            'label': 'Password',
            'required': true
        }) }}

        <small>{{ form_help(registrationForm.plainPassword,
                {
                    'label': 'Your Password must have 6 characters or more',
                }
            ) }}</small>

        {{ form_row(registrationForm.course,
            {
            'attr': {
                'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                'id': 'inputCourse',
                'placeholder': 'Cours',
                'autofocus': true

            },
            'label': 'Cours',
            'required': true
            }
        ) }}


        {{ form_row(registrationForm.group,
            {
            'attr': {
                'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                'id': 'inputGroup',
                'placeholder': 'Groupe',
                'autofocus': true

            },
            'label': 'Groupe',
            'required': true
            }
        ) }}


        {{ form_row(registrationForm.year,
            {
            'attr': {
                'class': 'w-full h-full py-3 focus:outline-none flex border-2 border-primary-100 rounded-xl px-4',
                'id': 'inputYear',
                'placeholder': 'Année',
                'autofocus': true

            },
            'label': 'Année',
            'required': true
            }
        ) }}


        {{ form_row(registrationForm.agreeTerms) }}
        {% include ('components/button.html.twig') with {text: "S'inscrire"} %}
        {#    <button type="submit" class="btn">Register</button>#}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}