{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
{% for notification in notifications %}
<div id="card-notification-{{ notification.id }}" class="notification">
        <div class="">
            {{ notification.title }}
        </div>
        <div class="">
            {{ notification.message }}
        </div>
        <div class="">
            {{ notification.createdAt|date('Y-m-d H:i:s') }}
        </div>
    </div>
        <span class="delete-notification" data-notification-id="{{ notification.id }}">Supprimer</span>
{% endfor %}
{% endblock %}
