{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="text-5xl mb-4">Notifications</h1>
        <div class="flex flex-col gap-2">
            {{ form_start(readAllButton, {'action': path('app_notification-read-all'), 'method': 'PATCH'}) }}
                {% include ('components/button.html.twig') with { text: 'Tout marquer comme lu', iconLeft: 'tick-circle' } %}
            {{ form_end(readAllButton) }}
            {{ form_start(deleteAllButton, {'action': path('app_notification-delete-all'), 'method': 'DELETE'}) }}
                {% include ('components/button.html.twig') with { text: 'Tout supprimer',color: 'danger', iconLeft: 'trash' } %}
            {{ form_end(deleteAllButton) }}

            <div class="font-semibold">
                <h2>Tu as <span id="readNotificationsCount"> {{ readNotificationsCount }} </span> notification(s) non lue(s).</h2>
            </div>
        </div>
    </div>
    <div class="m-4">
        {% for notification in notifications %}


            {% include('components/notification-pill.html.twig') %}



        {% endfor %}
    </div>
{% endblock %}
