{% extends 'base.html.twig' %}

{% block title %}Hello HomeworkController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.teacher) }}
    {{ form_row(form.description) }}
    {{ form_row(form.platform) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.due_date) }}
    {{ form_row(form.subject) }}

<button type="submit">Créer</button>
{{ form_end(form) }}
{% endblock %}
