{% extends 'base.html.twig' %}

{% block title %}Hello HomeworkController!{% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau rendu</h1>
    <h2>Informations générales</h2>

    {{ form_start(form) }}
    {{ form_row(form.name, {icon: 'calendar'}) }}
    {{ form_row(form.teacher, {'icon': 'calendar'}) }}
    {{ form_row(form.description, {'icon': 'calendar'}) }}
    {{ form_row(form.platform, {'icon': 'calendar'}) }}
    {{ form_row(form.picture, {'icon': 'calendar'}) }}
    {{ form_row(form.due_date, {'icon': 'calendar'}) }}
    {{ form_row(form.subject, {'icon': 'calendar'}) }}

    <button type="submit">Créer</button>

    {{ form_end(form) }}
{% endblock %}
