{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs | IUTask{% endblock %}

{% block body %}
    <div class="container px-4 py-8">
        <h1 class="text-4xl my-6">Gestion des utilisateurs</h1>
        <ul role="list" class="mx-auto divide-y divide-gray-100 mt-6">
            {% for user in users %}
            <li class="flex flex-col lg:flex-row items-center justify-between gap-x-9 py-5">
                <div class="flex w-full lg:w-2/5 gap-x-4">
                    <img class="h-12 w-12 flex-none rounded-full bg-gray-50 object-cover" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/John_Doe%2C_born_John_Nommensen_Duchac.jpg" alt="{{ user.name }}">
                    <div class="flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.name }}</p>
                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ user.email }}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/5 mt-3 lg:mt-0">
                    <p class="text-sm text-gray-900">
                        {% set year = user.year %}
                        {% if year is same as 0 %}
                            Enseignant(e)
                        {% elseif year is same as 1 %}
                            {{ year }}ère année - {{ user.course.nameCode }}
                        {% else %}
                            {{ year }}ème année - {{ user.course.nameCode }}
                        {% endif %}
                    </p>
                    <p class="mt-1 text-xs text-gray-500">
                        {% if user.group != 0 %}
                            TP {{ user.group }}
                        {% endif %}
                    </p>
                </div>
                <div class="w-full lg:w-1/5 mt-3 lg:mt-0">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Département</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ user.course.name }}</p>
                </div>
                <div class="w-full lg:w-1/5 shrink-0 sm:flex sm:flex-col sm:items-end">
                    <div class="flex justify-center items-center gap-2 float-end lg:float-none">
                        <a href="{{ path('app_dashboard_user_edit', {id: user.id}) }}">
                            {{ include('@icons/edit.svg') }}
                        </a>
                        <a href="{{ path('app_dashboard_user_delete', {id: user.id}) }}">
                            {{ include('@icons/trash.svg') }}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
