{% set currentRoute = app.request.get('_route') %}
{% set active = 'bg-primary-700' %}

<nav class="bg-primary-500">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="hidden md:block">
                    <div class="ml-10 flex items-center space-x-4">
                        <a href="{{ path('app_dashboard') }}" class="text-white rounded-md px-3 py-2 text-base font-medium flex items-center" aria-current="page">{{ include('@icons/home.svg') }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_dashboard_users') }}" class="{% if currentRoute == 'app_dashboard_users' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Utilisateurs</a>
                        {% endif %}
                        <a href="{{ path('app_dashboard_tickets') }}" class="{% if currentRoute == 'app_dashboard_tickets' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Signalements</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_dashboard_courses') }}" class="{% if currentRoute == 'app_dashboard_courses' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Départements</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    <div class="relative ml-3">
                        <div class="flex items-center">
                            <button type="button" class="relative flex max-w-xs items-center rounded-full bg-primary-900 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <img class="h-8 w-8 rounded-full object-cover" src="https://ui-avatars.com/api/?name={{ app.user.firstname }}+{{ app.user.lastname }}" alt="{{ app.user.name }}">
                            </button>
                            <span class="text-white p-2">{{ app.user.firstname }}</span> <a href="{{ path('app_logout') }}">{{ include('@icons/logout.svg') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-primary-700 p-2 text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="md:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            <a href="{{ path('app_dashboard') }}" class="text-white rounded-md px-3 py-2 text-base font-medium flex items-center" aria-current="page">{{ include('@icons/home.svg') }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_dashboard_users') }}" class="{% if currentRoute == 'app_dashboard_users' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Utilisateurs</a>
            {% endif %}
            <a href="{{ path('app_dashboard_tickets') }}" class="{% if currentRoute == 'app_dashboard_tickets' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Signalements</a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_dashboard_courses') }}" class="{% if currentRoute == 'app_dashboard_courses' %}{{ active }}{% endif %} text-white hover:bg-primary-600 block rounded-md px-3 py-2 text-base font-medium">Départements</a>
            {% endif %}
        </div>
    </div>
</nav>