<div class="flex justify-between mb-2">
    <h3 class="font-semibold font-display text-xl">Rendu</h3>
    <div class="flex gap-2">
        <div class="relative">
            <img class="w-6 h-6 cursor-pointer pointer-events-auto" src="{{ asset('images/icons/more-circle.svg') }}" alt="icone menu deroulant">
            <div class="absolute left-1/2 bottom-2 -translate-x-1/2 bg-white px-1 py-3 border rounded-2xl z-50 opacity-0 pointer-events-none scale-90 ease-out duration-300" data-toggle="dropdown">
                <ul class="w-full">
                    <li class="hover:bg-gray-100 px-2 py-1">
                        <a href="{{ path('app_homework', {homework: homework.id}) }}">Modifier</a>
                    </li>
                    <li class="delete hover:bg-gray-100 px-2 py-1 text-danger-500 cursor-pointer" data-homework-id="{{ homework.id }}">Supprimer</li>
                </ul>
            </div>
        </div>
        <button data-close-modal="modal-homework">
            <img class="w-6 h-6" src="{{ asset('images/icons/close.svg') }}" alt="icone croix pour fermer">
        </button>
    </div>
</div>

{% include ('components/detailCard.html.twig') with { homework: homework } %}

<div class="my-2">
    <div class="flex justify-between items-end mb-4">
        <h4 class="font-semibold font-display text-xl">Commentaires</h4>
        {% include('components/button.html.twig') with { text: "Ajouter un commentaire", color: "info", iconLeft: "message" } %}
    </div>
    <div class="my-2 after:block after:content-[''] after:w-full after:bg-text-50 after:h-px after:mt-2">
        <div>
            <div class="flex justify-between">
                <div class="flex items-center gap-2">
                    <span class="font-semibold font-display">Prenom Nom</span>
                    <span class="font-light font-sans text-sm text-text-400 ">Il y a 2h</span>
                </div>
                <div class="flex gap-2">
                    <img class="w-4 h-4" src="{{ asset('images/icons/edit.svg') }}" alt="icone crayon pour modifier">
                    <img class="w-4 h-4" src="{{ asset('images/icons/trash.svg') }}" alt="icone poubelle pour supprimer">
                </div>
            </div>
            <div>
                <p class="text-sm">fjezfeiehfiuefheiueheziufheziufhezfiuzehffieuzh</p>
            </div>
        </div>
    </div>
</div>