<nav class="z-20 bg-white flex justify-between w-[95%] lg:w-full container gap-4 border-2 border-primary-500 mx-auto px-8 md:px-12 py-4 rounded-xl fixed lg:static lg:translate-x-0 lg:mb-8 lg:mt-4 bottom-8 left-1/2 -translate-x-1/2 shadow-lg shadow-primary-200/50">
    <a href="{{ path('app_index') }}" class="hidden lg:block">
        {{ source('@icons/logo.svg') }}
    </a>

    <ul class="flex items-center justify-between lg:justify-end w-full gap-8">
        <li>
            <a class="flex flex-col lg:flex-row lg:gap-2 items-center" href="{{ path('app_index') }}">
                {{ source('@icons/home.svg') }}
                Accueil
            </a>
        </li>
        <li class="relative">
            <a class="flex flex-col lg:flex-row lg:gap-2 items-center" href="{{ path('app_notification') }}">
                <span class="relative">
                    {{ source('@icons/bell.svg') }}
                    {% if unread_notification_count(app.user.id) > 0 %}
                        <div class="absolute top-0 right-0 w-fit bg-primary-500 rounded-full px-1 aspect-square flex justify-center items-center text-xs">
                            {{ unread_notification_count(app.user.id) }}
                        </div>
                    {% endif %}
                </span>
                Notifications
            </a>
        </li>
        <li>
            <a class="flex flex-col lg:flex-row lg:gap-2 items-center" href="{{ path('app_calendar') }}">
                {{ source('@icons/calendar.svg') }}
                Calendrier
            </a>
        </li>
        <li>
            <a class="flex flex-col lg:flex-row lg:gap-2 items-center" href="{{ path('app_profile') }}">
                {{ source('@icons/user.svg') }}
                Profil
            </a>
        </li>
    </ul>
</nav>