{% set commonClasses = "ease-out duration-300 px-3 py-2 my-4 rounded-xl text-md border border-2 bg-text-50 hover:bg-text-100 opacity-100" %}


<div id="card-notification-{{ notification.id }}" class="notification {{ commonClasses }}
 {% if notification.isRead %} opacity-50 {% endif %}
" data-notification-id="{{ notification.id }}">
    <div class="flex justify-between">
        <div class="flex items-center gap-1">
            <img src="{{ asset ('images/icons/archive.svg') }}" alt="fanion">
            <span class="font-semibold"> {{ notification.title }} </span>
            <span class="font-light font-sans text-sm text-text-400 "> {{ notification.createdAt|date('d-m-Y H:i:s') }} </span>
        </div>
        <img class="delete-notification" data-notification-id="{{ notification.id }}" src="{{ asset('images/icons/trash.svg') }}" alt="poubelle">
    </div>
    <div>
        <p> {{ notification.message }} </p>
    </div>
</div>

