<div>
    <div class="flex border-2 border-primary-100 rounded-xl pl-4 pr-1 mb-4">
        {% if icon is defined %}
            <img src="{{ asset('images/icons/' ~ icon ~ '.svg' ) }}" alt="{{ icon }}"  class="inline-block mr-1">
        {% endif %}
        <input data-model="debounce(300)|query" class="w-full py-2 focus:outline-none" type="text" placeholder="{{ placeholder }}">
    </div>
    <div class="grid lg:grid-cols-4 gap-4">
        {% for hw in this.homeworks %}
            <button type="button" class="text-left" data-toggle="modal" data-modal-id="modal-homework" data-content-url="{{ path('app_homework-view', {
                homework: hw.id,
            }) }}">
                {% include('components/card-homework.html.twig') with { homework: hw } %}
            </button>
            <button class="delete" data-homework-id="{{ hw.id }}">Supprimer</button>
        {% endfor %}
        {%
            include('components/modal.html.twig') with {
                id: 'modal-homework',
            }
        %}
    </div>
</div>