<div {{ attributes }}>
    <div class="flex border-2 border-primary-100 rounded-xl pl-4 pr-1">
        {% if icon is defined %}
            <img src="{{ asset('images/icons/' ~ icon ~ '.svg' ) }}" alt="{{ icon }}"  class="inline-block mr-1">
        {% endif %}
        <input data-model="debounce(300)|query" class="w-full py-2 focus:outline-none" type="text" placeholder="{{ placeholder }}">
    </div>
    <div class="grid lg:grid-cols-4 gap-4">
        {% for hw in this.homeworks %}
            <button class="text-left" data-toggle="modal" data-modal-id="modal-homework" data-homework="{{ homework|json_encode }}" data-action="live#action" data-action-name="setHomework({{ hw }})">
                {% include('components/card-homework.html.twig') with { homework: hw } %}
            </button>
            <button class="delete" data-homework-id="{{ hw.id }}">Supprimer</button>
        {% endfor %}
    </div>
    {{
        component('Modal', {
            id: 'modal-homework',
            homework: homework
        })
    }}
</div>