<div>
    <span class="block text-2xl mb-2">Paramètres</span>
    <ul class="bg-white rounded-lg border border-gray-200 text-gray-900 text-sm font-medium">
        <li class="px-4 py-3 border-b border-gray-200 w-full rounded-t-lg"><a href="{{ path('app_profile') }}">Mon profil</a></li>
        <li class="px-4 py-3 border-b border-gray-200 w-full rounded-t-lg"><a href="{{ path('app_profile_informations') }}">Informations personnelles</a></li>
        <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="{{ path('app_notificationgit') }}">Notifications</a></li>
{#        <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="#">Apparence de l'application</a></li>#}
        <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
        <li class="px-4 py-3 border-b border-gray-200 w-full"><a href="{{ path('app_accessibilite') }}">Accessibilité</a></li>
        <li class="px-4 py-3 w-full rounded-b-lg"><a href="{{ path('app_aide') }}">Aide</a></li>
    </ul>
    <div class="mt-6 flex flex-col gap-2">
        <a href="{{ path('app_logout') }}">{% include('components/button.html.twig') with { text: "Déconnexion", color: "danger" } %}</a>
        {% if is_granted('ROLE_ADMIN')  %}
        <a href="{{ path('app_dashboard') }}" target="_blank">{% include('components/button.html.twig') with { text: "Administration", color: "warning" } %}</a>
        {% endif %}
    </div>
</div>