<h4 class="font-semibold font-display text-xl cardTitle-{{ id }}" data-modal-colorId="{{ id }}">{{ title }}</h4>
<p class="mb-3 text-sm cardTitle-{{ id }}" data-modal-colorId="{{ id }}">{{ subtitle }}</p>
<div id="titleCardColor" style="display: none;" data-modal-colorId="{{ id }}" data-color-modal="{{ color }}">{{ color }}</div>